* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

header {
  background-color: #007bff;
  color: white;
  padding: 1em;
  text-align: center;
}

#logo {
  text-decoration: none;
  color: white;
}

main {
  text-align: center;
  max-width: 600px;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quiz {
  margin-bottom: 20px;
}

.risposta button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.risposta button:hover {
  background-color: #0056b3;
}

#correctCount {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}
